  .list {
        width: 100%;
        display: flex;
        justify-content: center;
        gap: 25px;
        margin: 0 auto;
        
        @media (max-width: 1300px) {
            flex-wrap: wrap;
        }
    }
