.navbar {
    height: 80px;

    .wrapper {
        height: 100%;
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1440px;
        margin: 0 auto;

        .item {
            display: flex;
            align-items: center;
            font-size: 18px;
        }

        .left {
            display: flex;
            align-items: center;
            gap: 25px;
        }
        .center {
            font-size: 30px;
            letter-spacing: 2px;
        }
        .right {
            display: flex;
            align-items: center;
            gap: 25px;

            .icons {
                display: flex;
                align-items: center;
                gap: 15px;
                color: gray;
                cursor: pointer;

                .cartIcon {
                    position: relative;
                    span{
                        font-size: 12px;
                        background-color: #2879fe;
                        color: white;
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        position: absolute;
                        right: -10px;
                        top: -10px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
            
        }
    }
}


